<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cw2">
        <activity
            android:name=".activities.InformationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTask"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeOcxieOVk8FDQft3VuEttSXBGqa0zvRE" />

        <activity
            android:name=".activities.ViewLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <service
            android:name=".services.TrackingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".activities.LocationsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activities.EditLocationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activities.TrackingActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.GeotrackerProvider"
            android:authorities="com.example.cw2.database.GeotrackerProvider"
            android:exported="false" />
    </application>

</manifest>